.row{
    height: 50px;
}

input{
    height: 99%;
}

button{
    line-height: 1rem;
    padding: 0;
    color: black;
}
.col-1{
    vertical-align: middle;
    text-align: center;
    font-size: 1vw;
}